body{
    margin : 0;
    background-color: rgb(8, 82, 201);
    
}
#margint{
    margin:7px;
    background-color :white;
    height :70px;
    border-radius: 10px;
    padding:0.01px;

}
#marginl{
    margin:7px;
    background-color : white;
    height : 1000px;
    border-radius: 10px;
    padding: 7px;

}
#marginr{
    margin-top:7px;
    margin-right:7px;
    margin-bottom:7px;
    background-color : white;
    height : 1000px;
    border-radius: 10px;
    padding: 7px;
}
#name{
    
    background-color : gold;
    height : 50px;
    width:225px;
    border-radius: 10px;
    float: left;
}
#name p{
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#p1{
    font-size: 15px !important;
    margin-top: 0px;
}
#no{
    background-color : gold;
    height : 50px;
    width:70px;
    margin-left: 7px;
    border-radius: 10px;
    float: left;
}
#no p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 14px;
}
#header{
    height :70px;
    background-color: rgb(8, 82, 201);
}
#left-container{
    width : 73%;
    height : 1000px;
    float: left;
    background-color: rgb(8, 82, 201);
}
#right-container{
    width : 27%;
    height : 1000px;
    float: left;
    background-color: rgb(8, 82, 201);
}
#pokeman1{
    float: left;
    margin:7px;
}

#img {
    background-color : gold;
    height : 200px;
    width:830px;
    margin-left: 7px;
    margin-bottom: 7px;
    margin-right: 7px;
    border-radius: 10px;

}
#p2{
    margin: 0px;
    padding: 7px;
    background-color: yellow;
    width:524px;
    float: left;
    border-radius: 10px;
    margin-top: 7px;
}
#p2 p{
    margin: 0px;
}
#p3{
    margin-top: 5px;
}
#pokeman2{
    float: left;
    margin:7px;
}
#img2 {
    background-color : gold;
    height : 250px;
    width:830px;
    margin-left: 7px;
    margin-bottom: 7px;
    margin-right: 7px;
    border-radius: 10px;
}
#img3 {
    background-color : gold;
    height : 180px;
    width:830px;
    margin-left: 7px;
    margin-bottom: 7px;
    margin-right: 7px;
    border-radius: 10px;
}
#img4 {
    background-color : gold;
    height : 235px;
    width:830px;
    margin-left: 7px;
    margin-bottom: 7px;
    margin-right: 7px;
    border-radius: 10px;
}


#topright{
    
   background-color : gold;
    height : 56px;
    width:98.7%;
    border-radius: 10px;
    margin:7px;
}
#right{
    margin-top: 0px;
    text-align: center;
    line-height: 40px;
    font-size: 50px;
    font-family: 'Hi Melody', cursive;
    
}
#homepage{
    float: left;
    margin: 5px;
    margin-left: 15px;
    font-family: 'Gaegu', cursive;
    font-size: 20px;
    text-decoration: underline;
    color: blue;
}
#type{
    
    background-color : gold;
    width:303px;
    border-radius: 10px;
    float: left;
    margin: 0px;
}
#types{
    
    background-color : gold;
    width:303px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 40px;
    font-size: 20px;

}
#electric{
    background-color : yellow;
    height : 30px;
    width:270px;
    border-radius: 10px;
    float: left;
    margin-left:18px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 2px;
}
#height{
    
    background-color : gold;
    height : 50px;
    width:147.5px;
    border-radius: 10px;
    float: left;
    margin-top: 5px;
}
#weight{
    background-color : gold;
    height : 50px;
    width:147.5px;
    margin-left: 7px;
    margin-top: 5px;
    border-radius: 10px;
    float: left;
}
